<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="New Framework Test Suite">
	<listeners>
		<!-- <listener class-name="com.generic.AnnotationTransformer" /> -->
		<!--  listener class-name="com.PacificPower.genericUtility.CustomReporting" />-->
	</listeners>
	
	<test name= "Pacific Power">
	<classes>
		<class name="com.PacificPower.generic.BaseTest"/>
	</classes>
	</test>
	</suite>